<?xml version="1.0"?>
<config>
    <modules>
        <FireGento_Core>
            <version>1.0.0</version>
        </FireGento_Core>
    </modules>
    <global>
        <blocks>
            <firegento_core>
                <class>FireGento_Core_Block</class>
            </firegento_core>
        </blocks>
        <helpers>
            <firegento_core>
                <class>FireGento_Core_Helper</class>
            </firegento_core>
        </helpers>
    </global>
    <admin>
        <routers>
            <firegento_core>
                <use>admin</use>
                <args>
                    <module>FireGento_Core</module>
                    <frontName>firegento</frontName>
                </args>
            </firegento_core>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <firegento_core>FireGento_Core.csv</firegento_core>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <firegento_core>
                            <children>
                                <check_rewrites>
                                    <title>Check Rewrites</title>
                                </check_rewrites>
                                <check_events>
                                    <title>Check Events</title>
                                </check_events>
                                <check_system>
                                    <title>System Check</title>
                                </check_system>
                                <phpinfo>
                                    <title>phpinfo()</title>
                                </phpinfo>
                            </children>
                        </firegento_core>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <firegento_core>
                    <file>firegento_core.xml</file>
                </firegento_core>
            </updates>
        </layout>
    </adminhtml>
</config>